.homepage-header {
  height: 25vh;
  /* text-align: center; */
  margin-left: 10vw;
  padding-top: 5vh;
  font-family: Roboto;
  font-size: 16pt;
  .hello {
    opacity: 0.4;
  }
  .username {
    float: left;
  }
  .profile-img {
    float: right;
    margin-top: -25px;
    height: 50px;
    padding-right: 20px;
  }
}
