.parentBalence {
  width: 50%;
  height: 50px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  border-radius: 8px;
  padding-top: 20px;
  font-size: 24pt;
  font-family: Roboto;

  .header {
    font-size: 12pt;
    opacity: 0.2;
    margin-top: -10px;
  }
}
