.confirmation-page {
  width: 350px;
  margin-left: 20px;
  box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.01), 0 3px 24px rgba(0, 0, 0, 0.3);
  .confirmation-container {
    padding-left: 20px;
    padding-right: 20px;
    border-bottom: 2px solid #e2e2e2;
    overflow-y: scroll;
    max-height: 500px;
    max-width: 600px;
    .confirmed-date {
      display: inline-block;
      width: fit-content;
      padding: 6px;
      background-color: #fbf7ef;
      border-radius: 8px;
      color: black;
      font-family: Roboto;

      font-size: 10pt;
      margin-bottom: 8px;
      margin-right: 8px;
    }
  }
  .confirm-title {
    padding-left: 20px;
    padding-top: 12px;
    padding-bottom: 12px;
    font-family: Roboto;
    border-bottom: 2px solid #e2e2e2;
  }
  .confirmation-header {
    word-break: break-word;
    margin-left: 20px;
    font-family: Roboto;
    line-height: 22pt;
    background-color: #edb861;
    border-radius: 8px;
    padding: 10px;
    margin-right: 20px;
    margin-bottom: 20px;
  }

  .btn-container {
    text-align: center;
    padding-top: 12px;
    padding-bottom: 12px;
    border-top: 2px solid #e2e2e2;
    .btn {
      display: inline-block;
      background-color: #397339;
      border-radius: 4px;
      box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
      color: white;
      font-family: Roboto;
      font-size: 14pt;
      cursor: pointer;
      margin-left: 10px;
      margin-right: 10px;
      opacity: 0.9;
      padding: 12px;
      text-align: center;
      width: 100px;

      &.cancel {
        background-color: #1b1f15;
      }

      &.disabled {
        cursor: not-allowed;
        background-color: lightgrey;
      }
    }
  }
  .row {
    height: 48px;
    line-height: 48px;
    font-size: 16px;
    font-family: Roboto;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 12px;
  }

  .input {
    float: right;
    height: 36px;
    width: 120px;
    font-size: 13px;
    font-family: Roboto;
    border-radius: 4px;
    padding: 0px 12px;
    line-height: 18px;
    text-align: right;
    border: 1px solid lightgrey;
  }
}

@fontface;
