.numInputCtr {
  max-width: 500px;
  height: 370px;
  margin-left: 20px;
  margin-right: 20px;

  .nextBtn {
    height: 40px;
    width: 40px;
    text-align: center;
    font-size: 18pt;
    color: white;
    background-color: #a6261b;
    float: right;
    margin-top: 20%;
    margin-right: 40px;
    line-height: 40px;
    border-radius: 12px;
    padding: 4px;
    opacity: 0.8;
    box-shadow: 0 5px 8px rgba(0, 0, 0, 0.3), 0 5px 8px rgba(0, 0, 0, 0.24);
  }

  .header {
    font-family: Roboto;
    font-size: 18pt;
    margin: 20px;
  }

  .divider {
    height: 2px;
    width: 40%;
    margin-left: auto;
    background-color: black;
    opacity: 0.2;
    margin-right: auto;
  }
  .value {
    width: 40%;
    margin-left: auto;
    margin-right: auto;
    /*  font-family: Roboto; */
    font-size: 24pt;
    overflow: scroll;
  }
  .keypad {
    position: absolute;
    bottom: 0px;
    width: 90vw;

    .row {
      display: flex;
      justify-content: space-around;
    }

    .num {
      display: inline-block;
      height: 40px;
      width: 40px;
      line-height: 40px;
      margin: 12px;
      font-family: Roboto;
      text-align: center;
      font-size: 18pt;
    }
  }

  .dollar-symbol {
    float: left;
    margin-left: 40px;
    font-family: Roboto;
    font-size: 24pt;
    opacity: 0.4;
  }
}
