.numInputCtr {
  max-width: 500px;
  height: 370px;
  margin-left: 20px;
  margin-right: 20px;

  .nextBtn {
    height: 40px;
    width: 40px;
    text-align: center;
    font-size: 18pt;
    color: white;
    background-color: #a6261b;
    float: right;
    margin-top: 20%;
    margin-right: 40px;
    line-height: 40px;
    border-radius: 12px;
    padding: 4px;
    opacity: 0.8;
    box-shadow: 0 5px 8px rgba(0, 0, 0, 0.3), 0 5px 8px rgba(0, 0, 0, 0.24);
  }

  .header {
    font-family: Roboto;
    font-size: 18pt;
    margin: 20px;
  }

  .divider {
    height: 2px;
    width: 40%;
    margin-left: auto;
    background-color: black;
    opacity: 0.2;
    margin-right: auto;
  }
  .value {
    width: 40%;
    margin-left: auto;
    margin-right: auto;
    /*  font-family: Roboto; */
    font-size: 24pt;
    overflow: scroll;
  }
  .keypad {
    position: absolute;
    bottom: 0px;
    width: 90vw;

    .row {
      display: flex;
      justify-content: space-around;
    }

    .num {
      display: inline-block;
      height: 40px;
      width: 40px;
      line-height: 40px;
      margin: 12px;
      font-family: Roboto;
      text-align: center;
      font-size: 18pt;
    }
  }

  .dollar-symbol {
    float: left;
    margin-left: 40px;
    font-family: Roboto;
    font-size: 24pt;
    opacity: 0.4;
  }

  .order-form {
    height: 440px;
    width: 275px;
    box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.01), 0 3px 24px rgba(0, 0, 0, 0.6);
    .tab {
      height: 52px;
      width: 100%;
      border-bottom: 2px solid #e2e2e2;
      .tab-option {
        display: inline-block;
        padding-left: 20px;
        cursor: pointer;
      }
      .tab-span {
        padding-bottom: 8px;
        border-bottom: 4px solid;
        border-color: #24ce99;
      }
    }
    .first-section {
      padding-left: 24px;
      padding-right: 24px;
      padding-top: 12px;
      input {
        float: right;
        height: 36px;
        width: 82px;
        font-size: 13px;
        font-family: Roboto;
        border-radius: 4px;
        padding: 0px 12px;
        line-height: 18px;
        text-align: right;
        border: 1px solid lightgrey;
      }
      .row {
        height: 48px;
        line-height: 48px;
        font-size: 13px;
        font-family: Roboto;
      }
      .market-price {
        border-bottom: 2px solid #e2e2e2;
      }
      .value {
        float: right;
        height: 36px;
        width: 82px;
        font-size: 13px;
        font-family: Roboto;
        font-weight: 600;

        text-align: right;
      }
    }
    .btn-container {
      height: 96px;
      border-bottom: 2px solid #e2e2e2;
      .review-order-btn {
        background-color: #21ce99;
        border-color: #21ce99;
        height: 48px;
        padding-right: 48px;
        padding-left: 48px;
        width: 132px;
        margin-left: auto;
        margin-right: auto;
        margin-top: auto;
        margin-bottom: auto;
        border-radius: 4px;
        font-size: 13px;
        font-weight: 500;
        text-align: center;
        line-height: 48px;
        transform: translateY(50%);
        cursor: pointer;
        &:hover {
          background-color: #2cf7b9;
        }
      }
    }
    .buying-power {
      height: 48px;
      line-height: 48px;
      text-align: center;
      font-size: 13px;
      font-family: Roboto;
      border-bottom: 2px solid #e2e2e2;
    }
    .additional-info {
      height: 86px;
      padding: 24px;
      font-family: Roboto;
      font-size: 13px;
      letter-spacing: 0.25px;
      line-height: 19px;
    }
  }
}
