.expenses-calendar {
  display: block;
  margin-left: auto;
  margin-right: auto;
  .left-arrow {
    height: 15px;
  }
  .back-ctr {
    padding-left: 12px;
    margin: 8px;
    box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
    &:hover {
      opacity: 0.7;
      cursor: pointer;
      .returnBtn {
        color: black;
      }
    }
    .returnBtn {
      color: #6772e5;
      font-family: Roboto;
      padding: 8px;
      width: fit-contents;
      display: inline-block;
      cursor: pointer;
      &:hover {
        color: black;
      }
    }
  }

  .row {
    display: flex;
    .cost {
      margin-top: -25px;
      font-size: 8pt;
      opacity: 0.8;
      font-weight: 600;
      &.positive {
        color: green;
      }
      &.negative {
        color: red;
      }
    }
  }

  .cal-span {
    width: 40px;
    height: 40px;
    border-radius: 40px;
    text-align: center;
    line-height: 40px;
    cursor: pointer;
    &.date {
      //background-color: #00000007;
      border: 1px solid #00000007;
      &:hover {
        background-color: #efefef90;
        border: 1px solid blue;
      }
      &.empty {
        border: none;
        &:hover {
          border: none;
          background-color: transparent;
        }
      }
    }

    &.day {
      border-radius: 1px;
      background-color: #ffffff;
      font-family: Roboto;
      font-weight: 700;
      opacity: 0.6;
    }
  }

  button {
    height: 40px;
    /* padding: 20px; */
    background-color: #cfd2cf;
    border: none;
    border-radius: 8px;
    min-width: 100px;
    margin: 10px;
  }
  .month-header {
    background-color: #fbf7ef;
    padding: 4px;
    text-align: center;
    font-family: Roboto;
    box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
  }
}

@media screen and (max-width: 770px) {
  .expenses-calendar {
    .row {
      .cost {
        font-size: 6pt;
      }
    }
  }
}
